{% extends '::layout.html.twig' %}

{% trans_default_domain 'MapBundle_Default_forCountryAndStateCountiesList' %}

{% block title %}{{ parent ( ) }} - {{ 'title'|trans({'%country%':counties[0].country,'%state%':counties[0].state}) }}{% endblock title %}

{% block body %}

    <div class="container">
        {% if counties[0] is not null %}
            <ol class="breadcrumb" style="margin-top:25px;">
                <li><a href="{{ path ( 'remiii_corporate_home' ) }}">{{ 'home'|trans({},'messages')|capitalize }}</a></li>
                <li><a href="{{ path ( 'remiii_map_forCountryStatesList' , { 'countryUrl' : counties[0].countryUrl } ) }}">{{ counties[0].country }}</a></li>
                <li class="active">{{ counties[0].state }}</li>
            </ol>
        {% endif %}
        <h1>{{ 'content.title'|trans({'%country%':counties[0].country,'%state%':counties[0].state}) }}</h1>
        <ul class="list-unstyled">
            {% for key, county in counties %}
                <li><a href="{{ path ( 'remiii_map_forCountryAndStateAndCountyCitiesList' , { 'countryUrl' : county.countryUrl , 'stateUrl' : county.stateUrl , 'countyUrl' : county.countyUrl } ) }}"</a>{{ county.county }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock body %}

